<div class="container">
  <h1><%= @pak.name %></h1>

  <div class="carte-mere d-flex">
      <div class="zone-img"><%= cl_image_tag @pak.photo.key, height: 300, width: 400, crop: :fill %></div>
      <div class="reservation">
          <div class="tarif">
              <p><%= @pak.pricing %> </p>
              <p><%= @pak.rating %></p>
          </div>
    </div>
  </div>
</div>
<p><%= link_to "Retourné a l'accueil", paks_path %></p>
<%= link_to paks_path(@pak), method: :delete, data: { confirm: "Are you sure?" } do %>
delete
<% end %>
