<div class = "row">
  <div class="col-sm-4">
    <% @paks.each do |pak| %>
       <div class="card1">
        <%= cl_image_tag pak.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-infos1">
            <div>
              <h2><%= pak.name %> </h2>
              <p> <%= pak.description %></p>

            </div>
          <h2 class="card-pricing1"><%= pak.pricing %>€ </h2>
         <p> <%= link_to "aller sur l'article", pak%> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
