<div class="container">

    <% @users.each do |user| %>
        <h1><%= user.first_name%> <%= user.last_name%></h1>
        <p><%= user.email%></p>
        <p><%= user.address%></p>
        <p><%= user.phone%></p>
    <% end %>
</div>
